.App {
    height: 100%;
}
.App main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.App .choose-your-sign{
    position: fixed;
    bottom: 0;
}
.board-container{
    display: flex;
}
