.choose-sign {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.8rem;
  display: flex;
}
.choose-sign .sign-name {
  text-transform: capitalize;
  margin: 0;
}
.choose-sign .btn.btn-secondary {
  margin: .4rem;
}
.choose-sign .btn.btn-secondary img {
  height: 2rem;
  width: 3rem;
}
